@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            margin: 0;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: #FFC1CC;
            padding: 20px;
            text-align: center;
        }

            .header a {
                color: #0000EE;
                text-decoration: none;
                margin-right: 50px;
                font-size: 18px;
                font-weight: bold;
            }

                .header a:last-child {
                    margin-right: 0;
                }

        .content img {
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="header">
        <a href="@Url.Action("DoctorPatient", "Home")">DOCTOR/PATIENT</a>
        <a href="@Url.Action("Login", "Admin")">ADMIN LOGIN</a>
    </div>

 
</body>
</html>